<title>{{ title }}</title>

<h1>{{ title }}</h1>

<ul>
{% for planet in planets %}
  <li>{{ planet }}</li>
{% endfor %}
</ul>

{% if cond %}
Condition is true
{% else %}
condition is false
{% endif %}
