<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport"
     content="width=device-width, initial-scale=1, user-scalable=yes">
  <link href="style_20200802.css" rel="stylesheet">
  <link href="light_20200725.css" rel="stylesheet">
  <link href="dracula_20200725.css" rel="stylesheet">
  <link rel="canonical" href="{{ canonical }}" />
  <title>{{ title }}</title>
</head>
<body>
<input type="hidden" id="extension" value="{{ extension }}">

{% include 'incl/menu.html' %}

<div class="banner" id="banner-top">
</div>


<div id="content">
