# Results


```
~/work/training/testing/examples/bc>perl bc7.pl regress
```
{% embed include file="src/examples/bc/bc7.pl.out)



