#next {
    float: right;
}

.code {
    background-color: #e0e0e0;
}

nav {
    margin: 0 auto 10px;
    padding: 0;
    border-bottom: solid;
    height: 20px;
    padding-bottom: 5px;
}

@media (max-width: 800px) {
    ul #helpbutton {
        display: none;
        background: #333;
    }
}

nav ul {
	height: 10px;
}

nav li {
    margin-right: 20px;
    display: inline;
    list-style-type: none;
}

.slidebutton {
    background: #fff5f5;
    padding: 4px 9px;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #999;
}

#title {
	text-align: center;
}

#footer {
    margin-top: 20px;
}
#footer li {
    font-size: 12px;
    display: inline;
    list-style-type: none;
    margin-right: 30px;
}

#keywords ul {
	height: 40px;
    margin-top: 8px;
}

#keywords li {
    /* position: relative; */
	/*height: 40px;*/
    /* border: solid; */
    margin-right: 20px;
    display: inline;
    color: #fff;
    background: #2daebf;
    padding: 4px 9px;
    /* float: left;  */
    list-style-type: none;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #999;
}

.extra {
    margin-top: 15px;
    margin-bottom: 5px;
}

#links {
  margin-top: 5px;
  margin-bottom: 15px;
}

#links hr {
  margin-bottom: 20px;
}

#links li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}



