<!DOCTYPE html>
<html>
<head>
	<title>Welcome to {{ ansible_hostname }}</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
	<h1>Welcome to {{ ansible_hostname }}</h1>
</body>
</html>

