<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport"
     content="width=device-width, initial-scale=1, user-scalable=yes">
  <link href="style.css" rel="stylesheet">
  <title>{{ title }}</title>
</head>
<body>

<nav id="top_menu">
    <ul>
      <li><a href="/">Code Maven</a></li>
      <li><a href="/slides/">Slides</a></li>
      <li><a href="/about">About</a></li>
      <li>Press ? for keyboard navigation</li>
    </ul>
</nav>


<h1>{{ title }}</h1>

<ol>
    {% for p in pages %}
       <li><a href="{{ p.id }}.html">{{ p.title }}</a></li>
    {% endfor %}
</ol>

  <script src="slides.js"></script>
</body>
</html>
