{% include 'incl/header.html' %}

<h1>{{ title }}</h1>

<h3>Author: {{ book.author }}</h3>

<div>
Copyright: {{ book.copyright }}
</div>

<div>
{{ book.first_year }} - {{ this_year }}
</div>

<div>
Version: {{ book.version }}
</div>

<div>
<a href="toc{{ extension }}">TOC - Table of Contents</a>
</div>

<div>
<a href="keywords{{ extension }}">Keywords</a>
</div>

<div>
{% if first %}
   <a class="next slidebutton" id="next" href="{{ first.id }}{{ extension }}">Start (-&gt;)</a>
{% endif %}
</div>

{% include 'incl/footer.html' %}
