{% include 'incl/header.html' %}

<h1>{{ title }}</h1>

<div>
<a href="index{{ extension }}">main page</a>
</div>

<ul>
{% for kw in keywords.keys() %}
   <li>{{ kw }}
       <ul>
          {% for second in keywords[kw].keys() %}
             <li>{{ second }}
                 <ul>
                    {% for entry in keywords[kw][second] %}
                      <li><a href="{{ entry.id }}{{ extension }}">{{ entry.title }}</a></li>
                    {% endfor %}
                 </ul>
             </li>
          {% endfor %}
       </ul>
   </li>
{% endfor %}
</ul>

{% include 'incl/footer.html' %}
