{% include 'incl/header.html' %}

{% if 'prev' in page %}
   <a class="prev slidebutton" id="prev" href="{{ page.prev.id }}{{ extension }}">(&lt;-)<span class="prev-text"> {{ page.prev.title }}</span</a>
{% endif %}
{% if 'next' in page %}
   <a class="next slidebutton" id="next" href="{{ page.next.id }}{{ extension }}"><span class="next-text">{{ page.next.title }} </span>(-&gt;)</a>
{% endif %}

<div id="keywords" class="extra">
<ul>
  {% for word in page.keywords %}
    <li>{{ word[0] }}{% if word[1] %} - {{ word[1] }}{% endif %}</li>
  {% endfor %}
</ul>
</div>


<h1 id="title">{{ page.title }}</h1>
<hr>

{% for c in page.content %}
  {% if c.name == 'ol' %}
      <ol>
          {% for li in c.content %}
          <li>{{ li|linker }}</li>
          {% endfor %}
      </ol>
  {% endif %}
  {% if c.name == 'ul' %}
      <ul>
          {% for li in c.content %}
          <li>{{ li|linker }}</li>
          {% endfor %}
      </ul>
  {% endif %}
  {% if c.name == 'verbatim' %}

<pre class="code">
{{ c.content[0] | e }}
</pre>

  {% endif %}
  {% if c.name == 'aside' %}
      <div class="extra">
          {% for row in c.content %}
              {{ row|linker }}
          {% endfor %}
      </div>
  {% endif %}

  {% if c.name == 'p' %}
      <p>
          {{ c.content[0]|linker }}
      </p>
  {% endif %}
  {% if c.name == 'include' %}
      <b>{{ c.title }}</b><br>
      <b><a href="https://github.com/szabgab/slides/tree/main/{{ srcdir }}/{{ c.filename }}" rel="nofollow">{{ c.filename }}</a></b><br>

<pre class="included-code">
{{ c.content[0]|syntax(c.filename) }}
</pre>

  {% endif %}
  {% if c.name == 'image' %}
     <img src="{{ c.filename }}" title="{{ c.title }}" />
  {% endif %}
  {% if c.name == 'video' %}
     <video width="320" height="240" controls>
        <source src="{{ c.filename }}" type="video/mp4" title="{{ c.title }}">
        Your browser does not support the video tag.
    </video>
  {% endif %}

{% endfor %}

<div id="links">
  <hr>
  <ul>
    <li><a class="slidebutton" href=".">Index (i)</a></li>
    <li><a class="slidebutton" href="toc{{ extension }}">Table of Contents (t)</a></li>
    <li><a class="slidebutton" href="keywords{{ extension }}">Indexed keywords (k)</a></li>
    <li><a class="slidebutton" id="chapter" href="{{chapter.id}}{{ extension }}">Chapter TOC (d)</a></li>
    <li><a class="slidebutton" id="showhide" href="">Hide/Show (h)</a></li>
  </ul>
</div>

{% include 'incl/footer.html' %}

