{% include 'incl/header.html' %}

{% if 'prev' in page %}
   <a class="prev slidebutton" id="prev" href="{{ page.prev.id }}{{ extension }}">(&lt;-) {{ page.prev.title }}</a>
{% endif %}
{% if 'next' in page %}
   <a class="next slidebutton" id="next" href="{{ page.next.id }}{{ extension }}">{{ page.next.title }} (-&gt;)</a>
{% endif %}

<div id="keywords" class="extra">
<ul>
  {% for word in page.keywords %}
    <li>{{ word[0] }}{% if word[1] %} - {{ word[1] }}{% endif %}</li>
  {% endfor %}
</ul>
</div>


<h1 id="title">{{ page.title }}</h1>
<hr>

{% for c in page.content %}
  {% if c.name == 'ol' %}
      <ol>
          {% for li in c.content %}
          <li>{{ li }}</li>
          {% endfor %}
      </ol>
  {% endif %}
  {% if c.name == 'ul' %}
      <ul>
          {% for li in c.content %}
          <li>{{ li }}</li>
          {% endfor %}
      </ul>
  {% endif %}
  {% if c.name == 'verbatim' %}

<pre class="code">
{{ c.content[0] | e }}
</pre>

  {% endif %}
  {% if c.name == 'p' %}
      <p>
          {{ c.content[0] }}
      </p>
  {% endif %}
  {% if c.name == 'include' %}
      <b>{{ c.title }}</b><br>
      <b>{{ c.filename }}</b><br>

<pre class="code">
{{ c.content[0] }}
</pre>

  {% endif %}
  {% if c.name == 'image' %}
     <img src="{{ c.filename }}" title="{{ c.title }}" />
  {% endif %}
  {% if c.name == 'video' %}
     <video width="320" height="240" controls>
        <source src="{{ c.filename }}" type="video/mp4" title="{{ c.title }}">
        Your browser does not support the video tag.
    </video>
  {% endif %}

{% endfor %}
<div id="footer">
    <hr>
    <ul>
      <li>Copyright 2019 <a href="https://szabgab.com/">Gabor Szabo</a></li>
      <li>Last updated at {{ timestamp }}</li>
    </ul>
  </div>

{% include 'incl/footer.html' %}

