<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport"
     content="width=device-width, initial-scale=1, user-scalable=yes">
  <link href="style.css" rel="stylesheet">
  <title>{{ page.title }}</title>
</head>
<body>

<nav id="top_menu">
    <ul>
      <li><a href="/">Code Maven</a></li>
      <li><a href="/slides/">Slides</a></li>
      <li><a href="/about">About</a></li>
      <li>Press ? for keyboard navigation</li>
    </ul>
</nav>

<h1>{{ page.title }}</h1>

{% if 'prev' in page %}
   <a id='prev' href="{{ page.prev.id }}.html">{{ page.prev.title }}</a>
{% endif %}
{% if 'next' in page %}
   <a id='next' href="{{ page.next.id }}.html">{{ page.next.title }}</a>
{% endif %}

{% for c in page.content %}
  {% if c.name == 'ol' %}
      <ol>
          {% for li in c.content %}
          <li>{{ li }}</li>
          {% endfor %}
      </ol>
  {% endif %}
  {% if c.name == 'ul' %}
      <ul>
          {% for li in c.content %}
          <li>{{ li }}</li>
          {% endfor %}
      </ul>
  {% endif %}
  {% if c.name == 'verbatim' %}
<pre class="code">
{{ c.content[0] }}
</pre>
  {% endif %}
  {% if c.name == 'p' %}
      <p>
          {{ c.content[0] }}
      </p>
  {% endif %}
  {% if c.name == 'include' %}
      <b>{{ c.title }}</b><br>
      <b>{{ c.filename }}</b><br>
<pre class="code">
{{ c.content[0] }}
</pre>
  {% endif %}
  {% if c.name == 'image' %}
     <img src="{{ c.filename }}" title="{{ c.title }}" />
  {% endif %}
{% endfor %}

  <script src="slides.js"></script>
</body>
</html>
