name: CI

on:
    push:
    pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout slider-py
      uses: actions/checkout@v3
      with:
        repository: 'szabgab/slider-py'
        path: slider-py


    - name: Checkout this repo
      uses: actions/checkout@v3
      with:
        path: slides

    - name: Run shell
      run: |
        echo "OK for now"
        pwd
        ls -l
        ls -l slides/
        ls -l slider-py/

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.11

    - name: Install dependencies
      run: |
        pip install -r slider-py/requirements.txt
        pip install -r slides/requirements.txt

    - name: Check Python version
      run: python -V

    - name: Generate slides
      run: |
        cd slides
        pwd
        ./generate_slides.py


  #crystal:
  #  runs-on: ubuntu-latest
  #  name: Verify Crystal slides and examples
  #  container:
  #    image: crystallang/crystal

  #  steps:
  #  - name: Checkout this repo
  #    uses: actions/checkout@v2

  #  - name: Check files
  #    run: |
  #      crystal -v
  #      cd crystal
  #      crystal examples/check_slides.cr

  #  - name: Run ameba linter
  #    run: |
  #      cd crystal
  #      shards install
  #      ./bin/ameba

  #  - name: Check code formatting
  #    run: |
  #      crystal tool format --check

